<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../Utility CSS/utility.css" />
    <link rel="stylesheet" href="./image.css" />

    <link rel="icon" href="../../img/logo.png" type="image/x-icon" />
    <title>Image</title>
  </head>
  <body>
    <header>
      <nav class="container-flex flex-sb flex-wr">
        <div class="header__nav">
          <ul class="container-flex">
            <li>
              <a
                href="../../index.html"
                class="font-l anchor-style nav__icon--position nav__item--hover"
                >CLI
                <span class="nav__subtitle--position">COMPONENT LIBRARY APP</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="sidebar container-flex">
        <ul class="font-xl">
          <li>
              <span class="sidebar-title"> Components </span>
          </li>
          <li>
              <a href="../Avatar/avatar.html" class="sidebar-menu" rel="noopener noreferrer">
              Avatar
              </a>
          </li>
          <li>
              <a href="../Alert/alert.html" class="sidebar-menu" rel="noopener noreferrer">
              Alert
              </a>
          </li>
          <li>
              <a href="../Badge/badge.html" class="sidebar-menu" rel="noopener noreferrer">
              Badge
              </a>
          </li>
          <li>
              <a href="../Button/button.html" class="sidebar-menu" rel="noopener noreferrer">
              Button
              </a>
          </li>
          <li>
              <a href="../Card/card.html" class="sidebar-menu" rel="noopener noreferrer">
              Card
              </a>
          </li>
          <li>
              <a href="../Image/image.html" class="sidebar-menu" rel="noopener noreferrer">
              Image
              </a>
          </li>
          <li>
              <a href="../Input/input.html" class="sidebar-menu" rel="noopener noreferrer">
              Input
              </a>
          </li>
          <li>
              <a href="../TextUtilities/textUtilities.html" class="sidebar-menu" rel="noopener noreferrer">
              Text Utilities
              </a>
          </li>
          <li>
              <a href="../List/list.html" class="sidebar-menu" rel="noopener noreferrer">
              List
              </a>
          </li>
          <li>
              <a href="../Navigation/navigation.html" class="sidebar-menu" rel="noopener noreferrer">
              Navigation
              </a>
          </li>
          <li>
              <a href="../Modal/modal.html" class="sidebar-menu" rel="noopener noreferrer">
              Modal
              </a>
          </li>
          <li>
              <a href="../Rating/rating.html" class="sidebar-menu" rel="noopener noreferrer">
              Rating
              </a>
          </li>
          <li>
              <a href="../Toast/toast.html" class="sidebar-menu" rel="noopener noreferrer">
              Toast
              </a>
          </li>
          <li>
              <a href="../SimplifiedGrid/grid.html" class="sidebar-menu" rel="noopener noreferrer">
              Simplified Grid
              </a>
          </li>
      </ul>
      </div>
      <div class="main">
        <h1 class="font-xl margin-m2">Image</h1>
        <br />
        <hr />
        <p class="font-medium margin-m2">Responsive Image</p><br>
        <p class="font-medium margin-m2">Responsive image adjust themselves as per the size of the page with width =100% and height=auto.</p>
        <div class="box">
          <img
            src="https://picsum.photos/id/145/600/300"
            alt="Responsive Image"
            class="img-responsive"
          />
        </div>
        <p class="font-medium margin-m2">
          Copy this into your project to get a Responsive Image
        </p>
        <div class="margin-m2 padding-p2">
          <code class="code-container container-flex flex-center">
            <iframe
            src="https://carbon.now.sh/embed/6UckzZtF7LmHjXD9ixdT"
            style="width: 494px; height: 167px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
          </code>
        </div>

        <p class="font-medium margin-m2">Round Image</p><br>
        <p class="font-medium margin-m2">Round Image are used to make avatars have border radius of 50%. </p>
        <div class="box">
          <img
            src="https://picsum.photos/400/400"
            alt="Round Image"
            class="img-round"
          />
        </div>

        <div class="margin-m2 padding-p2 container-flex flex-center">
          <code class="code-container">
            <iframe
            src="https://carbon.now.sh/embed/7VNvdsGsKwT9fsb5bB3c"
            style="width: 546px; height: 200px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
          </code>
        </div>
      </div>
    </div>
  </body>
</html>