:root{
    --primary-color:#3aed70;
    --light-color: #fac68b;
    --border-color:#1f1006;
    --blue-color:#7FD2E6;
    --grey-color:#EAEAEC;
    --success-color:#008316;
    --danger-color:#fcd0c5;
    --warning-color:#fde047;
    
  
  }