<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../../Utility CSS/utility.css" />
        <link rel="stylesheet" href="./card.css" />
        <link rel="icon" href="../../img/logo.png" type="image/x-icon" />
        <title>Card</title>
    </head>
    <body>
        <header>
          <nav class="container-flex flex-sb flex-wr">
            <div class="header__nav">
              <ul class="container-flex">
                <li>
                  <a
                    href="../../index.html"
                    class="font-l anchor-style nav__icon--position nav__item--hover"
                    >CLI
                    <span class="nav__subtitle--position">COMPONENT LIBRARY APP</span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </header>
    
        <div class="container">
          <div class="sidebar container-flex">
            <ul class="font-xl">
              <li>
                  <span class="sidebar-title"> Components </span>
              </li>
              <li>
                  <a href="../Avatar/avatar.html" class="sidebar-menu" rel="noopener noreferrer">
                  Avatar
                  </a>
              </li>
              <li>
                  <a href="../Alert/alert.html" class="sidebar-menu" rel="noopener noreferrer">
                  Alert
                  </a>
              </li>
              <li>
                  <a href="../Badge/badge.html" class="sidebar-menu" rel="noopener noreferrer">
                  Badge
                  </a>
              </li>
              <li>
                  <a href="../Button/button.html" class="sidebar-menu" rel="noopener noreferrer">
                  Button
                  </a>
              </li>
              <li>
                  <a href="../Card/card.html" class="sidebar-menu" rel="noopener noreferrer">
                  Card
                  </a>
              </li>
              <li>
                  <a href="../Image/image.html" class="sidebar-menu" rel="noopener noreferrer">
                  Image
                  </a>
              </li>
              <li>
                  <a href="../Input/input.html" class="sidebar-menu" rel="noopener noreferrer">
                  Input
                  </a>
              </li>
              <li>
                  <a href="../TextUtilities/textUtilities.html" class="sidebar-menu" rel="noopener noreferrer">
                  Text Utilities
                  </a>
              </li>
              <li>
                  <a href="../List/list.html" class="sidebar-menu" rel="noopener noreferrer">
                  List
                  </a>
              </li>
              <li>
                  <a href="../Navigation/navigation.html" class="sidebar-menu" rel="noopener noreferrer">
                  Navigation
                  </a>
              </li>
              <li>
                  <a href="../Modal/modal.html" class="sidebar-menu" rel="noopener noreferrer">
                  Modal
                  </a>
              </li>
              <li>
                  <a href="../Rating/rating.html" class="sidebar-menu" rel="noopener noreferrer">
                  Rating
                  </a>
              </li>
              <li>
                  <a href="../Toast/toast.html" class="sidebar-menu" rel="noopener noreferrer">
                  Toast
                  </a>
              </li>
              <li>
                  <a href="../SimplifiedGrid/grid.html" class="sidebar-menu" rel="noopener noreferrer">
                  Simplified Grid
                  </a>
              </li>
          </ul>
          </div>
        <div class="main">
            <h1 class="font-xl margin-m2">Card</h1>
            <p class="font-medium margin-m2 ">Cards are used to display products</p>
            <br />
            <hr />
            <h1 class="font-medium margin-m2">Text Only Card</h1>
            <div class="box">
                <!-- TODO:TEXT ONLY CARD -->
                <div class="text-card container-flex flex-column">
                    <p class="font-medium padding-p1">
                        Flowers are one of the greatest gift of god provided by God to glorify the beauty of Earth.
                    </p>
                    <button class="btn-shopping-cart">
                        <p class="font-medium "> Read More</p>
                    </button>
                </div>
            </div>
            <div class="margin-m2  container-flex flex-center">
                <code class="code-container">
                    <iframe
                    src="https://carbon.now.sh/embed/e526Ckn1UzFRAf1Rv9cq"
                    style="width: 680px; height: 223px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </code>
            </div>
            <h1 class="font-medium margin-m2">Vertical Card</h1>
            <div class="box">
                <div class="card-container container-flex flex-column">
                    <div class="image-container badge-container">
                         <img src="C:\Users\Navin Kumar\Desktop\New folder\project1\Component\Card\im\img.jpg" class="img" alt=" Passion Flower">
                    </div>
                    <div class="card-title container-flex">
                        <p class="font-medium margin-m1 padding-p1">Passiflora Flower</p>
                        <span class="margin-m1 font-medium wishlist-icon"><i class="fa fa-heart " aria-hidden="true"></i></span>
                    </div>
                    <div class=" container-flex flex-column">
                         <p class="card-description margin-m1 padding-p2"> Jesus Christ Flowers, a genus of about 500 species of flowering plants.</p>
                         <p class="card-price margin-m1 padding-p2">Rs. 250 <strike class="card-strikeprice">Rs.500</strike> <span class="card-discount">(50% Off)</span> </p>
                <button class="btn-shopping-cart">
                <i class="fa fa-shopping-cart fa-2x"> Add to cart</i>
                </button>
                    </div>
               
               </div>
            </div>
            <div class="margin-m2  container-flex flex-center">
                <code class="code-container">
                    <iframe src="https://carbon.now.sh/embed/TYbdmbpHOCqzfDDD985V"
                    style="width: 680px; height: 521px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </code>
            </div>
            <h1 class="font-medium margin-m2"> Card With Badge</h1>
            <div class="box">
                <div class="card-container container-flex flex-column">
                    <div class="image-container badge-container">
                        <img src="C:\Users\Navin Kumar\Desktop\New folder\project1\Component\Card\im\img.jpg" class="img"
                            alt="Passion Flower">
                        <span class="badge">Bestseller!!!</span>
                    </div>
                    <div class="card-title container-flex">
                        <p class="font-medium margin-m1 padding-p1">Passion Flower </p>
                        <span class="margin-m1 font-medium wishlist-icon"><i class="fa fa-heart "
                            aria-hidden="true"></i></span>
                    </div>
                    <div class=" container-flex flex-column">
                        <p class="card-description margin-m1 padding-p2">Jesus Christ Flowers, a genus of about 500 species of flowering plants.
                        </p>
                        <p class="card-price margin-m1 padding-p2">Rs. 250 <strike class="card-strikeprice">Rs.
                            500</strike> <span class="card-discount">(50% Off)</span> 
                        </p>
                        <button class="btn-shopping-cart">
                        <i class="fa fa-shopping-cart fa-2x"> Add to cart</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="margin-m2  container-flex flex-center">
                <code class="code-container">
                    <iframe
                    src="https://carbon.now.sh/embed/RoeWkje4jSVyg7yVba0b"
                    style="width: 680px; height: 486px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </code>
            </div>
            <h1 class="font-medium margin-m2">Card With Dismiss</h1>
            <div class="box">
                <div class="card-container container-flex flex-column">
                    <div class="image-container badge-container">
                        <img src="C:\Users\Navin Kumar\Desktop\New folder\project1\Component\Card\im\img.jpg" class="img"
                            alt="Passion Flower">
                        <span class="badge">Bestseller</span>
                        <span class="dismiss-badge">X</span>
                    </div>
                    <div class="card-title container-flex">
                        <p class="font-medium margin-m1 padding-p1">Passion Flower </p>
                        <span class="margin-m1 font-medium wishlist-icon"><i class="fa fa-heart "
                            aria-hidden="true"></i></span>
                    </div>
                    <div class=" container-flex flex-column">
                        <p class="card-description margin-m1 padding-p2">Jesus Christ Flowers, a genus of about 500 species of flowering plants.
                        </p>
                        <p class="card-price margin-m1 padding-p2">Rs. 250 <strike class="card-strikeprice">Rs.
                            500</strike> <span class="card-discount">(50% Off)</span> 
                        </p>
                        <button class="btn-shopping-cart">
                        <i class="fa fa-shopping-cart fa-2x"> Add to cart</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="margin-m2  container-flex flex-center">
                <code class="code-container">
                    <iframe src="https://carbon.now.sh/embed/ys6pHbLnsGzXL3BEWrDN"
                    style="width: 1024px; height: 505px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </code>
            </div>
            <h1 class="font-medium margin-m2">Card With Text Overlay</h1>
            <div class="box">
                <div class="card-container container-flex flex-column card-soldout">
                    <div class="card-soldout-text container-flex flex-center">
                        <span>Out of Stock!!!</span>
                    </div>
                    <div class="image-container badge-container">
                        <img src="C:\Users\Navin Kumar\Desktop\New folder\project1\Component\Card\im\img.jpg" class="img"
                            alt="Passion Flower">
                        <span class="badge">Bestseller</span>
                    </div>
                    <div class="card-title container-flex">
                        <p class="font-medium margin-m1 padding-p1">Passion Flower </p>
                        <span class="margin-m1 font-medium wishlist-icon"><i class="fa fa-heart "
                            aria-hidden="true"></i></span>
                    </div>
                    <div class=" container-flex flex-column">
                        <p class="card-description margin-m1 padding-p2">Jesus Christ Flowers, a genus of about 500 species of flowering plants.

                        </p>
                        <p class="card-price margin-m1 padding-p2">Rs. 250 <strike class="card-strikeprice">Rs.
                            500</strike> <span class="card-discount">(50% Off)</span> 
                        </p>
                        <button class="btn-shopping-cart">
                        <i class="fa fa-shopping-cart fa-2x"> Add to cart</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="margin-m2  container-flex flex-center">
                <code class="code-container">
                    <iframe
                    src="https://carbon.now.sh/embed/wFY9OHYGFMwZHy5Fvk28"
                    style="width: 1024px; height: 579px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </code>
            </div>
            <h1 class="font-medium margin-m2">Card With shadow</h1>
            <div class="box">
                <div class="card-container container-flex flex-column shadow">
                    <div class="image-container badge-container">
                        <img src="C:\Users\Navin Kumar\Desktop\New folder\project1\Component\Card\im\img.jpg" class="img"
                            alt="Passion Flower ">
                        <span class="badge">Bestseller</span>
                        <span class="dismiss-badge">X</span>
                    </div>
                    <div class="card-title container-flex">
                        <p class="font-medium margin-m1 padding-p1">Passion Flower  </p>
                        <span class="margin-m1 font-medium wishlist-icon"><i class="fa fa-heart "
                            aria-hidden="true"></i></span>
                    </div>
                    <div class=" container-flex flex-column">
                        <p class="card-description margin-m1 padding-p2">Jesus Christ Flowers, a genus of about 500 species of flowering plants.
                        </p>
                        <p class="card-price margin-m1 padding-p2">Rs. 250 <strike class="card-strikeprice">Rs.
                            500</strike> <span class="card-discount">(50% Off)</span> 
                        </p>
                        <button class="btn-shopping-cart">
                        <i class="fa fa-shopping-cart fa-2x"> Add to cart</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="margin-m2  container-flex flex-center">
                <code class="code-container">
                    <iframe
                    src="https://carbon.now.sh/embed/wZoH85EJXGJG65sBehih"
                    style="width: 1024px; height: 610px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </code>
            </div>
            <h1 class="font-medium margin-m2">Horizontal Card</h1>
            <div class="box ">
                <div class="horizontal-card-container container-flex">
                    <div class="image-container badge-container">
                        <img src="C:\Users\Navin Kumar\Desktop\New folder\project1\Component\Card\im\img.jpg" class="img"
                            alt="Passion Flower">
                    </div>
                    <div class="container-flex flex-column flex-center">
                        <div class="card-title container-flex ">
                            <p class="font-medium margin-m1 padding-p1">Passion Flower </p>
                        </div>
                        <div class=" container-flex flex-column">
                            <p class="card-description margin-m1 padding-p2">Jesus Christ Flowers, a genus of about 500 species of flowering plants.
                            </p>
                            <p class="card-price margin-m1 padding-p2">Rs. 250 <strike class="card-strikeprice">Rs.
                                500</strike> <span class="card-discount">(10% Off)</span> 
                            </p>
                            <div>
                                <button class="btn-shopping-cart btn-small">
                                <i class="fa fa-shopping-cart fa-2x"> Add to cart</i>
                                </button>
                                <button class="btn-shopping-cart btn-small">
                                <i class="fa fa-heart fa-2x"> Add to Fav.</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin-m2  container-flex flex-center">
                <code class="code-container">
                    <iframe
                    src="https://carbon.now.sh/embed/QqZK9sGEIHsdL80Q9jcV"
                    style="width: 1024px; height: 595px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </code>
            </div>
        </div>
    </body>
</html>