<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../Utility CSS/utility.css" />
    <link rel="stylesheet" href="./rating.css" />

    <link rel="icon" href="../../img/logo.png" type="image/x-icon" />
    <title>Rating</title>
  </head>
  <body>
    <header>
      <nav class="container-flex flex-sb flex-wr">
        <div class="header__nav">
          <ul class="container-flex">
            <li>
              <a
                href="../../index.html"
                class="font-l anchor-style nav__icon--position nav__item--hover"
                >CLI
                <span class="nav__subtitle--position">COMPONENT LIBRARY APP</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="sidebar container-flex">
        <ul class="font-xl">
          <li>
              <span class="sidebar-title"> Components </span>
          </li>
          <li>
              <a href="../Avatar/avatar.html" class="sidebar-menu" rel="noopener noreferrer">
              Avatar
              </a>
          </li>
          <li>
              <a href="../Alert/alert.html" class="sidebar-menu" rel="noopener noreferrer">
              Alert
              </a>
          </li>
          <li>
              <a href="../Badge/badge.html" class="sidebar-menu" rel="noopener noreferrer">
              Badge
              </a>
          </li>
          <li>
              <a href="../Button/button.html" class="sidebar-menu" rel="noopener noreferrer">
              Button
              </a>
          </li>
          <li>
              <a href="../Card/card.html" class="sidebar-menu" rel="noopener noreferrer">
              Card
              </a>
          </li>
          <li>
              <a href="../Image/image.html" class="sidebar-menu" rel="noopener noreferrer">
              Image
              </a>
          </li>
          <li>
              <a href="../Input/input.html" class="sidebar-menu" rel="noopener noreferrer">
              Input
              </a>
          </li>
          <li>
              <a href="../Text Utilities/textUtilities.html" class="sidebar-menu" rel="noopener noreferrer">
              Text Utilities
              </a>
          </li>
          <li>
              <a href="../List/list.html" class="sidebar-menu" rel="noopener noreferrer">
              List
              </a>
          </li>
          <li>
              <a href="../Navigation/navigation.html" class="sidebar-menu" rel="noopener noreferrer">
              Navigation
              </a>
          </li>
          <li>
              <a href="../Modal/modal.html" class="sidebar-menu" rel="noopener noreferrer">
              Modal
              </a>
          </li>
          <li>
              <a href="../Rating/rating.html" class="sidebar-menu" rel="noopener noreferrer">
              Rating
              </a>
          </li>
          <li>
              <a href="../Toast/toast.html" class="sidebar-menu" rel="noopener noreferrer">
              Toast
              </a>
          </li>
          <li>
              <a href="../SimplifiedGrid/grid.html" class="sidebar-menu" rel="noopener noreferrer">
              Simplified Grid
              </a>
          </li>
      </ul>
      </div>
      <div class="main">
        <h1 class="font-xl margin-m2">Rating</h1>
        <br />
        <hr />
        <p class="font-medium margin-m1">
          Ratings are used to provide insight regarding others opinions and
          experiences
        </p>

        <div class="box margin-m2 padding-p1">
          <i class="fas fa-star checked";></i>
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star checked"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        
        <div class="margin-m1 container-flex flex-center">
          <code class="code-container">
            <iframe
            src="https://carbon.now.sh/embed/lMD5vMj1A7igK1Yd0eWj"
            style="width: 318px; height: 178px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
          </code>
        </div>

        <h3 class="font-xl margin-m2">Dynamic Rating</h3>

        <div class="box">
          <i class="rating__star far fa-star"></i>
          <i class="rating__star far fa-star"></i>
          <i class="rating__star far fa-star"></i>
          <i class="rating__star far fa-star"></i>
          <i class="rating__star far fa-star"></i>
        </div>

        <div class="margin-m1 container-flex flex-center">
          <code class="code-container">
            <iframe
             src="https://carbon.now.sh/embed/eB17LRREhcZJNYFa53My"
             style="width: 367px; height: 178px; border:0; transform: scale(1); overflow:hidden;"
             sandbox="allow-scripts allow-same-origin">
            </iframe>
          </code>
        </div>

        <h3 class="font-xl margin-m2">Javascript</h3>

        <div class="margin-m1 container-flex flex-center">
          <code class="code-container">
            <iframe
             src="https://carbon.now.sh/embed/p6D9dhupkEPSDGysojuH"
             style="width: 638px; height: 538px; border:0; transform: scale(1); overflow:hidden;"
             sandbox="allow-scripts allow-same-origin">
            </iframe>
          </code>
        </div>
      </div>
    </div>
    <script src="rating.js"></script>
  </body>
</html>