<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../Utility CSS/utility.css" />
    <link rel="stylesheet" href="./toast.css" />

    <link rel="icon" href="../../img/logo.png" type="image/x-icon" />
    <title>Toast</title>
    <script src="./toast.js"></script>

  </head>
  <body>
    <header>
      <nav class="container-flex flex-sb flex-wr">
        <div class="header__nav">
          <ul class="container-flex">
            <li>
              <a
                href="../../index.html"
                class="font-l anchor-style nav__icon--position nav__item--hover"
                >CLI
                <span class="nav__subtitle--position">COMPONENT LIBRARY APP</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="sidebar container-flex">
        <ul class="font-xl">
          <li>
              <span class="sidebar-title"> Components </span>
          </li>
          <li>
              <a href="../Avatar/avatar.html" class="sidebar-menu" rel="noopener noreferrer">
              Avatar
              </a>
          </li>
          <li>
              <a href="../Alert/alert.html" class="sidebar-menu" rel="noopener noreferrer">
              Alert
              </a>
          </li>
          <li>
              <a href="../Badge/badge.html" class="sidebar-menu" rel="noopener noreferrer">
              Badge
              </a>
          </li>
          <li>
              <a href="../Button/button.html" class="sidebar-menu" rel="noopener noreferrer">
              Button
              </a>
          </li>
          <li>
              <a href="../Card/card.html" class="sidebar-menu" rel="noopener noreferrer">
              Card
              </a>
          </li>
          <li>
              <a href="../Image/image.html" class="sidebar-menu" rel="noopener noreferrer">
              Image
              </a>
          </li>
          <li>
              <a href="../Input/input.html" class="sidebar-menu" rel="noopener noreferrer">
              Input
              </a>
          </li>
          <li>
              <a href="../Text Utilities/textUtilities.html" class="sidebar-menu" rel="noopener noreferrer">
              Text Utilities
              </a>
          </li>
          <li>
              <a href="../List/list.html" class="sidebar-menu" rel="noopener noreferrer">
              List
              </a>
          </li>
          <li>
              <a href="../Navigation/navigation.html" class="sidebar-menu" rel="noopener noreferrer">
              Navigation
              </a>
          </li>
          <li>
              <a href="../Modal/modal.html" class="sidebar-menu" rel="noopener noreferrer">
              Modal
              </a>
          </li>
          <li>
              <a href="../Rating/rating.html" class="sidebar-menu" rel="noopener noreferrer">
              Rating
              </a>
          </li>
          <li>
              <a href="../Toast/toast.html" class="sidebar-menu" rel="noopener noreferrer">
              Toast
              </a>
          </li>
          <li>
              <a href="../SimplifiedGrid/grid.html" class="sidebar-menu" rel="noopener noreferrer">
              Simplified Grid
              </a>
          </li>
      </ul>
      </div>
      <div class="main">
        <h1 class="font-xl margin-m2">Toast</h1>
        <br />
        <hr />
        <p class="font-medium margin-m1">
          Toast can be defined as message or notification when the user does some kind of action on the webpage like when a user logins his account Successfully a notiication like "Login Successful" shows up so that's a toast.
        </p>
       <div class="box">
          <div class="toast toast-success">Purchased </div>
          <div class="toast toast-default">Added to Cart</div>
          <div class="toast toast-error">Error! Please try again</div>

        </div>
        <button class="btn btn-default" id="button">Demo</button>

        
       
        <div id="toast"></div>
        <p class="font-medium margin-m1">
          Create a div with id="toast" and button with id="button" in your code
        </p>
        <div class="margin-m1 container-flex flex-center">
          <code class="code-container">
            <iframe
            src="https://carbon.now.sh/embed/uSovTEOr9Xds4EsRFxQs"
            style="width: 628px; height: 186px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
          </code>
        </div>
        <h3 class="font-medium margin-m1">Javascript</h3>
        <div class="margin-m1 container-flex flex-center">
          <code class="code-container">
            <iframe
            src="https://carbon.now.sh/embed/Rlkiyh4s8rw92rDvtIv1"
            style="width: 410px; height: 514px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>
          </code>
        </div>
      </div>
    </div>

  </body>
</html>